---
layout: archive
---

{{ content }}

<h1>Hello!</h1>
<p>

  I'm Mark — a machine learning engineer working at the intersection of AI, automation, and online systems. At Northwestern, I lead ML infrastructure for academic research on social media, studying how people communicate and influence each other online. Outside academia, I consult with organizations on anything AI: building LLM agents, automating workflows, designing custom recommendation engines, and making data work end to end. I bridge research and engineering to help teams ship smart, scalable systems.</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

<!-- {% assign all_posts = site.research | concat: site.self_education %}
{% assign all_posts = all_posts | sort: 'date' | reverse %}

{% assign posts_per_page = 5 %}
{% assign num_pages = all_posts.size | divided_by: posts_per_page | ceil %}
{% assign page_num = page.page_num | default: 1 %}
{% assign start_index = posts_per_page | times: page_num | minus: posts_per_page %}
{% assign end_index = posts_per_page | times: page_num %}
{% assign paginated_posts = all_posts | slice: start_index, posts_per_page %}

<div class="entries-list">
  {% for post in paginated_posts %}
    {% include archive-single.html type='list' %}
  {% endfor %}
</div> -->

<!-- <div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination__prev">Previous</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination__next">Next</a>
  {% endif %} -->

<!-- <div class="pagination">
  {% if page_num > 1 %}
    <a href="{{ site.baseurl }}{{ page.url | replace: 'index', page_num | minus: 1 }}" class="pagination__prev">Previous</a>
  {% endif %}
  {% if page_num < num_pages %}
    <a href="{{ site.baseurl }}{{ page.url | replace: 'index', page_num | plus: 1 }}" class="pagination__next">Next</a>
  {% endif %}
</div> -->
{% assign all_posts = site.research | concat: site.self_education | concat: site.personal | concat: site.ai_workflows %}
{% assign all_posts = all_posts | sort: 'date' | reverse %}
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  <!-- {% assign posts = site.posts %} -->
  {% assign posts = all_posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
